.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardBorder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 300px;
  border: 1px solid black;
  border-radius: 20px;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 240px;
  width: 240px;
  border: 1px solid black;
  border-radius: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  position: sticky;
}

.title {
  right: 100%;
}